:root {
    --ci-green: rgb(106,126,49);
    --ci-green-semi: rgba(106,126,49,.75);
    --ci-red: rgb(160,60,60);
    --ci-red-semi: rgba(160,60,60,.75);
    --text: #333;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/font/open-sans-regular-latin.woff2') format('woff2'), url('/font/open-sans-regular-latin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/font/open-sans-light-latin.woff2') format('woff2'), url('/font/open-sans-light-latin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('/font/caveat-regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    min-width: 200px;
    background-color: #fff;
    color: #333;
    color: var(--text);
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
}

h1, h2, h3 {
    font-family: Caveat, Arial, sans-serif;
    color: var(--ci-green);
    color: rgb(106,126,49);
}

h1 {
    font-size:3rem;
    font-weight: 300;
    margin: .5rem 0 3rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 0;
}

main a {
    color: rgb(160,60,60);
    color: var(--ci-red);
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    display: block;
    margin: 1em 0;
}

main p a {
    display: inline-block;
    margin-bottom: -2px;
}
main a:active, main a:hover, main a:focus {
    border-color: rgba(160,60,60);
    border-color: var(--ci-red);
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    min-height: 100vh;
}

header {
    border-bottom: 3px solid rgb(106, 126, 49);
    border-bottom: 3px solid var(--ci-green);
}

main {
    padding: 3rem 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-word;
    hyphens: auto;
}

footer {
    background-color: rgb(106,126,49);
    background-color: var(--ci-green);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 2rem 0;
}

footer nav {
    width: 100%;
    max-width: 1280px;
}

footer nav a {
    color: #fff;
    background-color: inherit;
}

footer nav a.active,
footer nav a:hover,
footer nav a:focus {
    background-color: #fff;
    color: rgb(106,126,49);
    color: var(--ci-green);
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

header nav {
    flex-grow: 1;
}

nav a {
    font-size: .75rem;
    text-decoration: none;
    color: rgb(106,126,49);
    color: var(--ci-green);
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav a.active,
nav a:hover,
nav a:focus {
    color: #fff;
    background-color: rgb(106,126,49);
    background-color: var(--ci-green);
}

a.logo {
    flex-basis: 100%;
    text-align: center;
}

header a.logo {
    transition: transform .25s;
}
header a.logo:hover {
    transition: transform .25s;
    transform: translateY(-.25em);
}

body[data-type=error] code.language-error {
    background-color:#ddd;
    color: #888;
}

.donate-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: left;
    margin-top: 1em;
}
.donate-box > i {
    margin-right: 0.5em;
}
.donate-box > p {
    margin: 0;
}

ul {
    margin: 2em 0;
}

li {
   margin: 1em 0;
}
.downloads ul {
    list-style-type: none;
    padding: 0;
}

.downloads li {
    margin: 0;
}

.downloads a {
    padding: .25em .5em;
    margin: .25em .25em .25em -.5em;
}

.cta-box {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: center;
    margin: 5rem 0;
}

.cta-box > * {
    border-radius: .5rem;
    background-color: rgb(106,126,49);
    background-color: var(--ci-green);
    color: #fff;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 25rem;
    padding: 1.5rem;
    margin: .75rem;
}

.cta-box a {
    color: #fff;
    border-bottom: 0;
}
.cta-box a:active, .cta-box a:hover, .cta-box a:focus {
    text-decoration: underline;
}

.contact > *:first-child,
.donate > *:first-child {
    color: #fff;
    margin-top: 0;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('/font/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('/font/fontawesome-webfont.woff?v=4.7.0') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fa,
a[href^="mailto:"]:before,
a[href^="tel:"]:before,
a[href$=".pdf"]:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[href^="mailto:"]:before,
a[href^="tel:"]:before,
a[href$=".pdf"]:before {
    margin-right: .5em;
}

.fa-envelope:before,
a[href^="mailto:"]:before {
    content: "\f0e0";
}

.fa-phone:before,
a[href^="tel:"]:before {
    content: "\f095";
}

.fa-credit-card:before {
    content: "\f09d";
}

.fa-file-pdf-o:before,
a[href$=".pdf"]:before {
    content: "\f1c1";
}

@media all and (min-width: 320px) {
    header {
        flex-flow: row wrap;
    }
    a.logo {
        flex-basis: 100%;
        flex-shrink: 1;
    }
    a.logo img {
        max-width: 100%;
        height: auto;
    }
    header nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}
@media all and (min-width: 640px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    header nav, nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    a.logo {
        flex-basis: auto;
    }
}

@media all and (min-width: 1280px) {
    header {
        display: grid;
        grid-template-columns: 1fr [logo] 150px auto [nav] 1130px 1fr;
    }
    a.logo {
        grid-area: logo;
    }
    nav {
        grid-area: nav;
    }
}
