{% import "helper/navigation.html.twig" as nav %}
<!DOCTYPE html>
<html lang="{{ var.locale|default('de') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" >
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{ css('main.css') }}">
    <link rel="stylesheet" href="{{ css('font-awesome.min.css') }}">
    <link rel="icon" type="image/png" href="/favicon-256.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body {%- if type is defined %} data-type="{{ type }}" {%- endif %}>
<header>
    <a class="logo" href="/" title="Zur Startseite">
        <picture>
            <source srcset="/img/logo-naturkiga-seenbachtal.webp" type="image/webp">
            <source srcset="/img/logo-naturkiga-seenbachtal.jpg" type="image/jpeg">
            <img src="/img/logo-naturkiga-seenbachtal.jpg" alt="Naturkindergarten Seenbachtal e.V." width="150" height="150">
        </picture>
    </a>
    <nav>
        {{ nav.item('Verein', '/verein', requested_path) }}
        {{ nav.item('Kindergarten', '/kindergarten', requested_path) }}
        {{ nav.item('Konzeption', '/konzeption', requested_path) }}
        {{ nav.item('Unterstützen', '/unterstuetzen', requested_path) }}
        {{ nav.item('Downloads', '/downloads', requested_path) }}
        {{ nav.item('Kontakt', '/kontakt', requested_path) }}
    </nav>
</header>
<main>
{% block body %}
    Hello World
{% endblock %}
{%- if show_cta %}
<div class="cta-box">
    <div class="contact">{{ contact('Kontakt')|raw }}</div>
    <div class="donate">{{ donate('Spenden und Beiträge')|raw }}</div>
</div>
{%- endif %}
</main>
<footer>
    <nav>
        <a href="/impressum.html">Impressum</a>
        <a href="/datenschutz.html">Datenschutz</a>
    </nav>
</footer>
</body>
</html>
